.top{
	border:1px solid #0e0e30;
	background-color:#0e0e30;
	width:100%;
	height:30px;
	position:fixed;
}

ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.left{
	width: 30%;
	height: 256px;
	font-size:10px;
	border: 1px solid white;
	padding-top:20px;
}

#heading{
	font-size:50px;
	color:#0e0e30;
	font-family:impact;
}

#para{
	font-size:15px;
	color:#0e0e30;
	text-align:justify;
}