@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');


*{
	padding:0;
	margin:0;
}

html{
	background-color: #eaf0f2;
}

body{
	font:16px/1.6 Arial,  sans-serif;
 
}





/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
    left:0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #444b4e;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}



.footer-distributed h3 span{
	color:  rgb(129, 177, 218);;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .customerservice{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
	
	
}
.help

{
   text-align:left;
   font: normal 36px 'Cookie', cursive;
   font-size:25px;
 
}
hr
{
   margin-top:5px;
}
.a
{
    padding-bottom:20px;
}




.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}



/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}
.followus

{
   text-align:left;
   font: normal 36px 'Cookie', cursive;
   font-size:25px;
   color:#ffffff;
 
}



.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
input[type=text] {
	width: 65%;
	padding: 5px 5px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	font: normal 20px 'Cookie';

}
.btn
{
	position: absolute;
	top: 41%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgb(129, 177, 218);
	color: #ffffff;
	font-size: 16px;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	height:6.5%;
	
}
.btn:hover 
{
	background-color: black;
	color: white;
}
	
	
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}